<p-menubar [model]="items">
  <ng-template pTemplate="item" let-item let-root="root">
    <a [routerLink]="item.routerLink" pRipple class="flex align-items-center p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
      <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
    </a>
  </ng-template>
  @if (isLogin) {
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
      </div>
    </ng-template>
  }
</p-menubar>
