<div class="flex flex-wrap items-center justify-center gap-4 m-10 p-10">
  <div *ngFor="let item of paginatedPostList" class="">
    <p-card [header]="item.title" [subheader]="item.userName" [style]="{ width: '360px' }"
            (click)="openPostDetail(item.id)">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"/>
      </ng-template>
      <p>
        {{ item.body }}
      </p>
      <ng-template pTemplate="footer">
      </ng-template>
    </p-card>
  </div>
</div>
<div>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="pageSize"
    [totalRecords]="postList.length"
    [rowsPerPageOptions]="[10, 20, 30]"/>
</div>
