.banner {
  background-image: url("../../../assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
  }
}
